

body
{
    background-image: linear-gradient(rgb(139, 195, 247), rgb(201, 214, 244));
    
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}
main > *
{
    font-size: 20px;
}

h1
{
    margin: 30px;
}


#timer
{
    width:100px;
    height:75px;
    line-height: 75px;
    border-width: 30px;
    border-radius: 50%;
    background-color: rgb(7, 131, 255);
    color:azure;
    margin: 0  auto;
    
}

#question
{
    font-size: 30px;
}

.btn
{
    border-radius: 25px;
    border-color: rgb(50, 181, 204);
    margin: 16px;
    padding: 14px 34px;
    color: rgb(237, 233, 255);
    background-color: rgb(36, 26, 210);
    font-size: 20px;
}

.but-q
{
    min-width: 250px;
    align-items: center;    
}


/*score page*/
#name
{
    margin-left: 10px;
    min-width: 100px;
}

#scoreList
{
    text-align: right;
    margin-left: 50px;
}

ul 
{
    list-style: none;
    padding: 0;
    
}